/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* contenitore pagina */
#container-all {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: tahoma;
}

#container-all::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: brown;
}

/* HEADER */
/* NAV SOPRA */
/* container nav sopra */
.container1 {
  height: 80px;
  background-color: lightblue;
}

.container1::after {
  content: "";
  display: block;
  clear: both;
}

/* sottocontainer nav sopra */
.subcontainer1 {
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 12%;
  padding-right: 12%;
  background-color: green;
}

.subcontainer1::after {
  content: "";
  display: block;
  clear: both;
}

/* lista opzioni container1 */
.words-left1 {
  height: 100%;
  width: 50%;
  float: left;
  padding-top: 2.2%;
  background-color: white;
}

.words-right1 {
  height: 100%;
  width: 50%;
  float: left;
  padding-top: 2.2%;
  background-color: white;
  text-align: right;
}
/* FINE NAV SOPRA */

/* INIZIO NAV SOTTO */
/* container nav sotto */
.container2 {
  height: 80px;
  background-color: lightblue;
}

.container2::after {
  content: "";
  display: block;
  clear: both;
}

/* sottocontainer nav sotto */
.subcontainer2 {
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 12%;
  padding-right: 12%;
  background-color: green;
}

.subcontainer2::after {
  content: "";
  display: block;
  clear: both;
}

/* lista opzioni container2 */
.words-left2 {
  height: 100%;
  width: 50%;
  float: left;
  padding-top: 1.5%;
  background-color: white;
}

.words-right2 {
  height: 100%;
  width: 50%;
  float: left;
  padding-top: 1.5%;
  background-color: white;
  text-align: right;
}
/* FINE NAV SOTTO */
/* FINE HEADER */

.lista {
  list-style-type: none;
}

.a {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
}

p {
  line-height: 25px;
}


/* MAIN */
/* SEZIONE SOPRA */
.container3 {
  height: 694px;
  width: 100%;
  background-color: lightblue;
}

.container3::after {
  content: "";
  display: block;
  clear: both;
}

/* immagine di sfondo */
/* #jumbo {
  height: 100%;
  width: 100%;
  background-image: url("../img/jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* sottocontainer main */
.subcontainer3 {
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 12%;
  padding-right: 12%;
  background-image: url("../img/jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* lista opzioni container3 */
.words-left3 {
  height: 70%;
  width: 50%;
  float: left;
  padding-top: 1.5%;
  padding-right: 1.5%;
  background-color: transparent;
}

#grow {
  font-size: 55px;
}

#marketing {
  font-size: 20px;
  padding-right: 10%;
}

.button {
  background-color: #fe775a;
  border-radius: 5px;
  padding: 6px 15px;
  text-align: center;
  color: white;
  border: 1px solid #fe775a;
}

.buttonopp {
  background-color: white;
  border-radius: 5px;
  padding: 6px 15px;
  text-align: center;
  color: #fe775a;
  border: 1px solid #fe775a;
}

.bigbutton {
  padding: 15px 30px;
}


.button:hover {
  background-color: white;
  color: #fe775a;
}

.buttonopp:hover {
  background-color: #fe775a;
  color: white;
}
/* fine lista opzioni container 3 */
/* FINE SEZIONE SOPRA */

/* SEZIONE CENTRALE */
/* sezione centrale1 */
.container4 {
  height: 500px;
  width: 100%;
  background-color: #f4f9fd;
  padding-left: 30%;
}

.subcontainer4 {
  height: 32%;
  width: 60%;
  float: left;
  text-align: center;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
}

#cube {
  height: 240px;
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#powa {
  font-size: 35px;
}

#paragraph-powa {
  font-size: 18px;
}
/* fine sezione centrale1 */

/* sezione centrale 2 */
.container5 {
  height: 300px;
  width: 100%;
  background-color: brown;
  padding-left: 15%;
  padding-right: 15%;
}

.boxupleft {
  height: 100%;
  width: 27%;
  float: left;
  background-color: white;
  padding-left: 10%;
  padding-top: 2%;
  padding-right: 6%;
}

.boxupright {
  height: 100%;
  width: 73%;
  float: left;
  background-color: white;
  padding-top: 4%;
}

#book {
  height: 140px;
  width: 140px;
}

.buttonlearn {
    background-color: #fe775a;
    border-radius: 5px;
    padding-right: 33%;
    text-align: center;
    color: white;
    border: 1px solid #fe775a;
    padding: 15px 30px;
  }

.buttonlearn:hover {
  background-color: white;
  color: #fe775a;
}

/* sezione centrale3 */
.container6 {
  height: 760px;
  width: 100%;
  background-color: orange;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.boxleft {
  height: 100%;
  width: 28.5%;
  float: left;
  text-align: center;
  background-color: white;
  margin-right: 4%;
  /* padding-left: 10.5%;
  padding-top: 3%; */
  padding: 3% 5%;
}

.boxcenter {
  height: 100%;
  width: 28.5%;
  float: left;
  background-color: white;
  margin-left: 3.25%;
  margin-right: 3.25%;
  padding-left: 10.5%;
  padding-top: 3%;
}

.boxright {
  height: 100%;
  width: 28.5%;
  float: left;
  background-color: white;
  margin-left: 4%;
  padding-left: 10.5%;
  padding-top: 3%;
}

#mrkt {
  height: 100px;
  width: 100px;
  text-align: center;
}

.listb {
  text-align: left;
}

.learnbox {
  height: auto;
  width: 150px;
  background-color: green;
  padding: 0 5;
  margin-left: 20%;
  background-color: transparent;

}

.buttonlearn2 {
    background-color: #fe775a;
    border-radius: 5px;
    text-align: center;
    color: white;
    border: 1px solid #fe775a;
    padding: 15px 30px;
  }

  .buttonlearn2:hover {
    background-color: white;
    color: #fe775a;
  }
