/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pagina */
#container-all {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* container parte in alto */
#container1 {
  position: relative;
  height: 100px;
  background-color: lightgrey;
}

#block1 {
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0%;
  left: 20%;
  background-color: white;
}

#container2 {
  position: relative;
  height: 100px;
  background-color: grey;
}

#block2 {
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0%;
  left: 20%;
  background-color: green;
}

#container3 {
  position: relative;
  height: 600px;
  background-color: brown;
}

#block3 {
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0%;
  left: 20%;
  background-color: pink;
}

/* container parte centrale */
#container4 {
  position: relative;
  height: 1200px;
  background-color: lightgrey;
}

#container5 {
  position: relative;
  height: 650px;
  background-color: blue;
}

#container6 {
  position: relative;
  height: 650px;
  background-color: darkblue;
}

#container7 {
  position: relative;
  height: 500px;
  background-color: grey;
}
