/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pagina */
#container-all {
  width: 100vw;
  height: 100vh;
}

#container1 {
  position: relative;
  height: 100px;
  background-color: lightgrey;
}

#container2 {
  position: relative;
  height: 100px;
  background-color: grey;
}

#container3 {
  position: relative;
  height: 550px;
  background-color: brown;
}

#container4 {
  position: relative;
  height: 100px;
  background-color: yellow;
}
